# This file is a simple SOC .ucf for Nexys3 rev B board
#Clock signal
Net "clk" LOC=V10 |IOSTANDARD=LVCMOS33;
#NET "clk" PERIOD=10ns;   # 10ns = 50Mhz
#Net "clk_100mhz" TNM_NET = sys_clk_pin;


#NET "clk" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "clk_BUFGP/BUFG.O" CLOCK_DEDICATED_ROUTE = FALSE;
# 7 segment display
Net "Segment[7]" LOC = M13 |IOSTANDARD = LVCMOS33; #p
Net "Segment[0]" LOC = T17 |IOSTANDARD = LVCMOS33; #a
Net "Segment[1]" LOC = T18 |IOSTANDARD = LVCMOS33; #b
Net "Segment[2]" LOC = U17 |IOSTANDARD = LVCMOS33; #
Net "Segment[3]" LOC = U18 |IOSTANDARD = LVCMOS33; #
Net "Segment[4]" LOC = M14 |IOSTANDARD = LVCMOS33; #
Net "Segment[5]" LOC = N14 |IOSTANDARD = LVCMOS33; #
Net "Segment[6]" LOC = L14 |IOSTANDARD = LVCMOS33; #g

Net "AN[0]" LOC = N16 |IOSTANDARD = LVCMOS33; 
Net "AN[1]" LOC = N15 |IOSTANDARD = LVCMOS33; 
Net "AN[2]" LOC = P18 |IOSTANDARD = LVCMOS33; 
Net "AN[3]" LOC = P17 |IOSTANDARD = LVCMOS33; 

# LEDs
Net "LED[0]" LOC = U16 |IOSTANDARD = LVCMOS33;  
Net "LED[1]" LOC = V16 |IOSTANDARD = LVCMOS33; 
Net "LED[2]" LOC = U15 |IOSTANDARD = LVCMOS33; 
Net "LED[3]" LOC = V15 |IOSTANDARD = LVCMOS33; 
Net "LED[4]" LOC = M11 |IOSTANDARD = LVCMOS33; 
Net "LED[5]" LOC = N11 |IOSTANDARD = LVCMOS33; 
Net "LED[6]" LOC = R11 |IOSTANDARD = LVCMOS33; 
Net "LED[7]" LOC = T11 |IOSTANDARD = LVCMOS33; 

# SWitches
#Net "SW[0]" LOC = T10 |IOSTANDARD = LVCMOS33; 
#Net "SW[1]" LOC = T9 |IOSTANDARD = LVCMOS33; 
#Net "SW[2]" LOC = V9 |IOSTANDARD = LVCMOS33; 
#Net "SW[3]" LOC = M8 |IOSTANDARD = LVCMOS33; 
#Net "SW[4]" LOC = N8 |IOSTANDARD = LVCMOS33; 
#Net "SW[5]" LOC = U8 |IOSTANDARD = LVCMOS33; 
#Net "SW[6]" LOC = V8 |IOSTANDARD = LVCMOS33;
#Net "SW[7]" LOC = T5 |IOSTANDARD = LVCMOS33; 

# Buttons
Net "reset" LOC = B8 |IOSTANDARD = LVCMOS33; 	#reset
#Net "BTN[1]" LOC = A8 |IOSTANDARD = LVCMOS33; 	# BTNU
#Net "BTN[2]" LOC = C4 |IOSTANDARD = LVCMOS33; 	# BTNL
#Net "BTN[3]" LOC = C9 |IOSTANDARD = LVCMOS33; 	# BTND
#Net "BTN[4]" LOC = D9 |IOSTANDARD = LVCMOS33; 	# BTNR

# Pic USB-HID interface
Net "kbd_data" LOC = J13 | IOSTANDARD = LVCMOS33 | PULLUP; #Bank = 1, pin name = IO_L39P_M1A3, Sch name = PIC-SDI1
Net "kbd_clk" LOC = L12 | IOSTANDARD = LVCMOS33 | PULLUP; #Bank = 1, pin name = IO_L40P_GCLK11_M1A5, Sch name = PIC-SCK1

# VGA Connector
NET "VGA_R[0]" LOC = U7 | IOSTANDARD = LVCMOS33; 		# Bank = 2, pin name = IO_L43P, Sch name = RED0
NET "VGA_R[1]" LOC = V7 | IOSTANDARD = LVCMOS33;		# Bank = 2, pin name = IO_L43N, Sch name = RED1
NET "VGA_R[2]"LOC = N7 | IOSTANDARD = LVCMOS33; 		# Bank = 2, pin name = IO_L44P, Sch name = RED2
NET "VGA_G[0]" LOC = P8 | IOSTANDARD = LVCMOS33; 	# Bank = 2, pin name = IO_L44N, Sch name = GRN0
NET "VGA_G[1]" LOC = T6 | IOSTANDARD = LVCMOS33; 	# Bank = 2, pin name = IO_L45P, Sch name = GRN1
NET "VGA_G[2]" LOC = V6 | IOSTANDARD = LVCMOS33; 	# Bank = 2, pin name = IO_L45N, Sch name = GRN2
NET "VGA_B[0]" LOC = R7 | IOSTANDARD = LVCMOS33; 	# Bank = 2, pin name = IO_L46P, Sch name = BLU1
NET "VGA_B[1]" LOC = T7 | IOSTANDARD = LVCMOS33; 	# Bank = 2, pin name = IO_L46N, Sch name = BLU2
NET "hsync" LOC = N6 | IOSTANDARD = LVCMOS33; # Bank = 2, pin name = IO_L47P, Sch name = HSYNC
NET "vsync" LOC = P7 | IOSTANDARD = LVCMOS33; # Bank = 2, pin name = IO_L47N, Sch name = VSYNC
